<ion-content>
  <ion-toolbar>
    <span routerLink="/register" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-text color="primary">Voltar</ion-text>
    </span>
  </ion-toolbar>
  <br />
  <br />
  <img src="./assets/img/Logo.png" alt="logo" />
  <div class="title">
    <h3 color="primary">Cadastro</h3>
  </div>
  <ion-list>
    <ion-list-header>
      <ion-label color="primary"
        >Selecione o serviço que você oferece</ion-label
      >
    </ion-list-header>
    <select class="select">
      <option value="massagem">Massagem</option>
      <option value="cabeleireiro">Cabeleireiro</option>
      <option value="pele">Tratamento de Pele</option>
    </select>
    <br />
    <br />
    <div>
      <ion-row>
        <ion-col s6>
          <ion-radio-group>
            <ion-list-header>
              <ion-label color="primary">Como você trabalha?</ion-label>
            </ion-list-header>
            <ion-label class="label">Sou dona de salão/Clínica 
            <ion-radio class="radio" color="primary"></ion-radio>
           </ion-label>
            <br />
            <br />
            <ion-label class="label"
              >Presto serviço em Salão/Clínica
            <ion-radio color="primary"></ion-radio>
          </ion-label>
            <br />
            <br />
            <ion-label class="label"
              >Presto serviço em Salão/Clínica
            <ion-radio color="primary"></ion-radio>
          </ion-label>
            <br />
            <br />
          </ion-radio-group>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <ion-radio-group>
        <ion-list-header>
          <ion-label color="primary">Você possui certificados?</ion-label>
        </ion-list-header>
        <ion-label class="label">Sim </ion-label>
        <ion-radio class="radio2"></ion-radio>
        <br />
        <ion-label class="label">Não </ion-label>
        <ion-radio></ion-radio>
      </ion-radio-group>
    </div>
    <br />
    <img class="upload" src="./assets/img/certificado.png" alt="upload" />
    <div class="ion-select">
      <ion-list-header>
        <ion-label color="primary"
          >Qual é o seu tempo de experiência?</ion-label
        >
      </ion-list-header>
      <select>
        <option value="year">1 ano</option>
        <option value="year">2 anos</option>
        <option value="year">3 anos ou mais</option>
      </select>
    </div>
    <div>
      <ion-list-header>
        <ion-label color="primary">Qual segmento você atua?</ion-label>
      </ion-list-header>
      <select class="ion-select">
        <option value="year">Cosméticos</option>
        <option value="year">Dermatologia</option>
        <option value="year">Cabeleireiro</option>
      </select>
    </div>
    <br />
    <div>
      <ion-list-header>
        <ion-label color="primary"
          >Você possui todos os materias de trabalho? Descreva</ion-label
        >
      </ion-list-header>
      <ion-textarea></ion-textarea>
    </div>
    <br />
    <div>
      <ion-list-header>
        <ion-label color="primary"
          >Quais produtos você possui? Você possui produtos
          hiperalérgicos?</ion-label
        >
      </ion-list-header>
      <ion-textarea></ion-textarea>
    </div>
    <br />
    <div>
      <ion-list-header>
        <ion-label color="primary"
          >Conte-me um pouco da sua experiência <br />como profissional da
          beleza</ion-label
        >
      </ion-list-header>
      <ion-textarea></ion-textarea>
    </div>
  </ion-list>
  <div routerLink="/register2" class="proximo">
    <ion-icon name="arrow-forward"></ion-icon>
    <ion-text>Próximo</ion-text>
  </div>
</ion-content>
