$font-family: "Poppins", sans-serif;
$primary-color: #2ebabb;

ion-content {
  text-transform: none !important;
  font-family: $font-family !important;
  color: #2ebabb !important;
}

.title {
  text-align: center;
  color: $primary-color;
}
ion-icon {
  color: $primary-color;
  margin-left: 10px;
  margin-top: 10px;
}
ion-text {
  margin-top: 12px;
  color: $primary-color;
  font-weight: normal;
  font-size: 16px;
}

h3 {
  font-weight: 600;
  font-size: 16px;
}

img {
  width: 200px;
  height: 90px;
  float: center;
  margin-left: 25%;
}

.upload {
  max-height: 100%;
  max-width: 100%;
}

select {
  margin-left:8%;
  background: rgba(48, 187, 188, 0.08);
  border: 1px solid #2EBABB;
  box-sizing: border-box;
  border-radius: 3px;
  width: 290px;
  height: 40px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: rgba(23, 43, 77, 0.7);


}

.label {
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #3E3D3D;
margin-left: 30px;
}

ion-label {
  margin-left: 15px;
}

ion-radio {
  position: relative;
  margin-top: 10px;
  margin-left: 5px;
}

.radio {
  margin-left: 42px;
}

.radio2 {
  margin-left: 8px;
}

ion-textarea{
  border-radius: 3px;
  margin-left:8%;
  width: 290px;
  height: 120px;
  border: 1px solid #2EBABB;
  background: rgba(48, 187, 188, 0.08);

}

.proximo{
  margin: 30px ;
  float: right;
}