<ion-content>
  <ion-toolbar>
    <span routerLink="/inicio" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-text>Voltar</ion-text>
    </span>
  </ion-toolbar>
  <img src="./assets/img/Logo.png" alt="logo" />
  <div class="title">
    <h3>Login</h3>
    <p class="sub-title">Seja bem vindo!</p>
    <br />
    <br />
  </div>
  <ion-row>
    <ion-col s12>
      <ion-label class="label-user"
        >Usuário
        <input type="text" />
      </ion-label>
      <br />
      <ion-label class="label-password">
        Senha
        <input type="password" />
      </ion-label>
    </ion-col>
    <u class="esquecer-senha">Esqueceu sua senha?</u>
    <br />
    <br />
    <ion-col s6>
      <ion-button color="primary" class="login">Entrar</ion-button>
      <p class="registrar">
        Não tem uma conta? <u routerLink="/register">Registre-se</u>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
