$font-family: "Poppins", sans-serif;
$primary-color: #2ebabb;

ion-content {
  float: center !important;
  font-family: $font-family !important;
}

img {
  width: 200px;
  height: 90px;
  float: center;
  margin-left: 25%;
  margin-top: 25%;
}

.title {
  text-align: center;
  color: $primary-color;
}
h3 {
  font-weight: 600;
  font-size: 16px;
}

ion-icon {
  color: $primary-color;
  margin-left: 10px;
  margin-top: 10px;
}
ion-text {
  margin-top: 12px;
  color: $primary-color;
  font-weight: normal;
  font-size: 16px;
}

.sub-title {
  font-weight: normal !important;
  font-size: 12px;
}

ion-label {
  text-align: left !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $primary-color;
  margin-left: -65%;

  input {
    float: center;
    margin: 0px auto;
    width: 280px;
    height: 39px;
    border: 1px solid $primary-color;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
  }
}

.esquecer-senha {
  font-size: 10px;
  margin-left: 60%;
  color: $primary-color;
}

.registrar {
  margin-top: 40%;
  color: $primary-color;
  font-size: 10px;
  text-align: center !important;
  font-weight: 600;
}

.login {
  border: none !important;
  top: 15%;
  left: 20%;
  position: absolute;
  height: 37px;
  width: 220px;
  font-family: $font-family;
  transition: all 0.4s ease-in-out;

  background: $primary-color;
  color: white;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 4px rgba(250, 250, 250, 0.25);
}
:hover {
  cursor: pointer;
  --background: white;
  --color: $primary-color;
}
