<ion-content class="container">
  <svg
    id="Camada_1"
    data-name="Camada 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 172.56 86.63"
    fill="none"
  >
    <title>Sem título-1</title>
    <path
      class="cls-1"
      d="M48.68,19.38,36.07,46.57h0v0L27,26.9c-3-7-13.51-7.52-13.51-7.52l17.61,38-.09.2L30.3,59a7.35,7.35,0,0,1-2.81,3.26,7.47,7.47,0,0,1-4.1,1.22h-2.2l-2.28,9.11h4a17.24,17.24,0,0,0,15.8-10.1l2.35-5.16,17.62-38Z"
      transform="translate(-13.44 -5.32)"
    />
    <path
      class="cls-1"
      d="M184.52,30.81a20.44,20.44,0,0,0-11.06-11.06,20,20,0,0,0-15.09,0,19.55,19.55,0,0,0-5.66,3.54L150.9,25.1a19.24,19.24,0,0,0-3.54,5.66,20,20,0,0,0,0,15.09,20.44,20.44,0,0,0,11.06,11.06,20,20,0,0,0,15.09,0,19.24,19.24,0,0,0,5.66-3.54L181,51.56a19.34,19.34,0,0,0,3.54-5.66,20,20,0,0,0,0-15.09Zm-10,14.3-1.81,1.81A10.38,10.38,0,0,1,166,49.26a10.8,10.8,0,0,1-4.22-.83A11.06,11.06,0,0,1,158.24,46a11.26,11.26,0,0,1-2.42-3.55A10,10,0,0,1,155,38.3a10.44,10.44,0,0,1,2.34-6.75l1.82-1.8a10.45,10.45,0,0,1,6.75-2.35,10.55,10.55,0,0,1,7.73,3.23,10.88,10.88,0,0,1,3.22,7.73A10.51,10.51,0,0,1,174.53,45.11Z"
      transform="translate(-13.44 -5.32)"
    />
    <path
      class="cls-1"
      d="M122.7,25.47l-6.62,6.3a10.93,10.93,0,0,1-4.82,16.76,11.16,11.16,0,0,1-4.19.7,11.34,11.34,0,0,1-4.2-.91,9.57,9.57,0,0,1-2.53-1.57L93.73,53a20.25,20.25,0,0,0,5.33,3.55,20.07,20.07,0,0,0,26.57-10,19.49,19.49,0,0,0,1.75-7.7A19.79,19.79,0,0,0,126,31,20.25,20.25,0,0,0,122.7,25.47Z"
      transform="translate(-13.44 -5.32)"
    />
    <path
      class="cls-1"
      d="M96.49,39.78c0-.06,0-.11,0-.17V37.05s0-.08,0-.13a10.87,10.87,0,0,1,11.12-9.48,10.7,10.7,0,0,1,6.69,2.5l6.64-6.32a20.05,20.05,0,0,0-5.33-3.54A20.45,20.45,0,0,0,100,19.69a19.57,19.57,0,0,0-8,5.79c-.39-.46-.8-.92-1.23-1.35a20.25,20.25,0,0,0-6.38-4.29,20.2,20.2,0,0,0-15.57,0A20,20,0,0,0,58.1,30.51a19.45,19.45,0,0,0-1.5,6.54h9.07a11,11,0,0,1,6.7-8.86h0a10.85,10.85,0,0,1,7.22-.39l.2.05.24.09a8.11,8.11,0,0,1,.78.28l.33.16c.19.09.38.17.56.27A11,11,0,0,1,81.7,48a5.77,5.77,0,0,1-.56.27l-.33.16c-.26.11-.52.2-.78.29l-.24.08-.2,0a10.85,10.85,0,0,1-7.22-.39h0a11,11,0,0,1-6.7-8.86H56.6a19.4,19.4,0,0,0,1.5,6.54A20,20,0,0,0,68.77,56.82a20.2,20.2,0,0,0,15.57,0,19.92,19.92,0,0,0,6.38-4.29c.43-.43.84-.89,1.23-1.36l0,0,6.62-6.3A10.16,10.16,0,0,1,96.49,39.78Z"
      transform="translate(-13.44 -5.32)"
    />
    <path
      class="cls-1"
      d="M144.7,50a5.18,5.18,0,0,1-2.28-.53,3.61,3.61,0,0,1-1.52-1.59,6.74,6.74,0,0,1-.56-3V5.32H127.8V13h3.42V44.45A17.35,17.35,0,0,0,132.28,51a10.27,10.27,0,0,0,2.93,4.07,10.48,10.48,0,0,0,4.48,2.08,27,27,0,0,0,5.73.57q.62,0,1.14,0c.36,0,.71-.07,1.07-.12V49.85A17,17,0,0,1,144.7,50Z"
      transform="translate(-13.44 -5.32)"
    />
    <text class="cls-2" transform="translate(57 77.14)">Profissionais</text>
  </svg>
</ion-content>
