svg {
  float: center;
  margin-top: 75%;
  animation: 3s fill-svg infinite;
  stroke: #2EBABB;
  color: #2EBABB;
  height: 80px;
  width: 200px;
  margin-left: 20%;
}

@keyframes fill-svg {
  0% {
    stroke-dasharray: 500;
    stroke-dashoffset: 800;
  }
  
  85% {
    stroke-dasharray: 1200;
    stroke-dashoffset: 500;

  }
 
  100% {
    fill:#2EBABB ;
  }
}

.cls-2 {
  font-size: 16px;
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
}

