<ion-content>
  <img src="./assets/img/logo-ini.png" alt="logo" />
  <p class="description">
    Aproveite a experiência e faça<br />parte do nosso time!
  </p>
  <br />
  <br />
  <ion-button routerLink="/login" color="primary" class="login">Login</ion-button>
  <ion-button routerLink="/register" class="register">Cadastre-se</ion-button>
</ion-content>
