$font-family: "Poppins", sans-serif;
$primary-color: #2ebabb;

ion-content {
  text-align: center;
  --background: url("../../assets/img/bg.png") no-repeat center center / cover !important;
  --background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

img {
  margin-top: 60%;
}

.login {
  top: 70%;
  left: 24%;
  position: absolute;
  height: 37px;
  width: 200px;
  font-family: $font-family;

  background: $primary-color;
  color: white;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 4px rgba(250, 250, 250, 0.25);
}

.register {
  border: none !important;
  top: 80%;
  left: 24%;
  position: absolute;
  height: 37px;
  width: 200px;
  font-family: $font-family;

  --background: white;
  color: $primary-color;
  mix-blend-mode: normal;
}

.description {
  margin-top: 30px;
  font-family: $font-family;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

