<ion-content>
  <ion-toolbar>
    <span routerLink="/inicio" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-text>Voltar</ion-text>
    </span>
  </ion-toolbar>
  <br />
  <br />
  <img src="./assets/img/Logo.png" alt="logo" />
  <div class="title">
    <h3>Cadastro</h3>
    <p class="sub-title">Seja bem vindo(a)!</p>
  </div>
  <br />
  <br />
  <div class="input-user">
    <ion-label class="label"
      >Usuário
      <input type="text" />
    </ion-label>
    <br />
    <ion-label class="label"
      >E-mail
      <input type="text" />
    </ion-label>
    <br />
    <ion-label class="label"
      >Senha
      <input type="password" />
    </ion-label>
    <br />
    <ion-label class="label"
      >Confirmar senha
      <input type="password" />
    </ion-label>
    <br />
    <ion-label class="label"
      >Telefone
      <input type="phone" />
    </ion-label>
    <br />
    <ion-label class="label"
      >Instagram
      <input type="text" />
    </ion-label>
    <br />
    <ion-label class="label"
      >Sexo
      <input type="text" />
    </ion-label>
    <br />
    <ion-label class="label"
      >RG
      <input type="text" />
    </ion-label>
    <br />
    <ion-label class="label"
      >CPF
      <input type="text" />
    </ion-label>
    <br />
    <ion-label class="label"
      >CEP
      <input type="text" />
    </ion-label>
    <br />
    <ion-label class="label"
      >Logradouro
      <input type="text" />
    </ion-label>
    <br />
    <ion-label class="label"
      >Número
      <input type="text" />
    </ion-label>
    <br />
    <ion-label class="label"
      >Bairro
      <input type="text" />
    </ion-label>
    <br />
    <ion-label class="label"
      >Cidade
      <input type="text" />
    </ion-label>
    <br />
    <ion-label class="label"
      >UF
      <input type="text" />
    </ion-label>
    <br />
  </div>
  <img src="./assets/img/upload.png" alt="upload" />
  <br />
  <br />
  <div routerLink="/register2" class="proximo">
    <ion-icon name="arrow-forward"></ion-icon>
    <ion-text>Próximo</ion-text>
  </div>
</ion-content>
