$font-family: 'Poppins', sans-serif;
$primary-color: #2EBABB;


ion-content{
    text-align: center;
    font-family: $font-family !important;
    color: $primary-color !important;
}

ion-label {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $primary-color;
    margin-left: 12%;

    input{
        float: center;
        margin: 0px auto;
        width: 280px;
        height: 39px;
        border: 1px solid $primary-color;
        box-sizing: border-box;
        border-radius: 4px;
        display: block;
}
}

.input-user{
    text-align: justify !important;
}

img{
    width: 200px;
    height: 90px;
    float: center;
}
.title{
    text-align: center;
    color: $primary-color;
}
ion-icon{
    color: $primary-color;
    margin-left: 10px;
    margin-top: 10px;
}
ion-text{
    margin-top: 12px;
    color: $primary-color;
    font-weight: normal;
    font-size: 16px;

}

h3{
    font-weight: 600;
    font-size: 16px;


}

.sub-title{
    font-weight: normal !important;
    font-size: 12px;
}

.proximo{
    margin: 30px ;
    float: right;
}